@charset "UTF-8";

@import url('http://fonts.cdnfonts.com/css/arial-rounded-mt-bold');

.red {
    background-color:#EF5B33;
}

.blue {
    background-color:#2673EF;
}

.yellow {
    background-color:#FFFF52;
}

.green {
    background-color: #ACF682;
}

body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 10vw;
    background-color: #4e8fdd;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    max-width: 100%;
}

header {
    display: flex;
    background-color: #4e8fdd;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #EF5B33;
    padding-bottom: 20px;
}

main {
    color: black;

}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15pt;
}

h1 {
    margin: 0px;

    width: 600px;
    font-size: 60pt;
    text-align: center;
}

h2 {
    margin: 0px;

    width: 600px;
    font-size: 30pt;
    text-align: center;
}

p {
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    padding: 25px;
    width: 600px;
    border-radius: 30px;
    font-size: 20pt;
    color: black;
}

.white-p{
    color: white;
}

.about-p{
    color: #8bb340;
    
}

.traits-p{
    color: #2673EF;
}

.road-p{
    color: #EF5B33;
    
}

a {
    font-size: 20pt;
    text-align: center;
    width: 50%;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



.banner {

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    
}

.social-button {
    color: white;
    cursor: pointer;

}

.logo {
    margin-top: 25px;
    width: 75%;
    height: auto;
}

.top-space {
    margin-top: 25px;
}

.section {
    width: 100%;
    padding-top: 25px;
}

.hill {
    background-image: url(images/hill.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom;
    width: 100%;
    height: 12.5vw;
}

.aboutus {
    display: flex;
    padding-bottom: 0px;
    background-color: #8bb340;
    font-size: 30pt;
    color: #f6ff7f;
}

.about-left {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.about-right {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.picnic {
    width: 700px;
    height: 700px;
    padding-left: 25px;
}

.traits {
    display: flex;
    background-image: url(images/traits.png);
    background-attachment: fixed;
    font-size: 60pt;
    color: black;
}

.traits-left {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;

}

.traits-right {
    display: flex;
    width: 100%;

}

.connect {
    background-color: #2673EF;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 7vw;
}
.connect:hover {
    color: #2358b7;
}

.hide {
    display: none;
}

.mint {
    background-color: #EF5B33;
    height: 15vw;
    width: 100%;
    display: none;
    font-size: 7vw;

}

.mint-num {
    background-color: #FFFF52;
    height: 15vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #EF5B33;
}

.no-image {
    width: 10vw;
    height: 10vw;
}

.up {
    background-image: url(images/up.png);
    background-position: center bottom;
}
.up:hover {
    background-image: url(images/up-hover.png);
}

.down {
    background-image: url(images/down.png);
    background-position: center top;
}
.down:hover {
    background-image: url(images/down-hover.png);
}

.pointer {
    width: 100%;
    height: 75px;
    background-size: 2vw;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.mint-box {
    color: #FFFF52;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mint-box:hover {
    color: #D6411E;
    
}

.roadmap {
    display:flex;
    background-image: url(images/roadmap-bg.png);
    background-attachment: fixed;
    min-height: 500px;
    color: #EF5B33;
}

.road-left {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;

}

.road-right {
    display: flex;
    width: 100%;

}

.juice {

}

.team {
    background-color: grey;
    padding-bottom: 25px;

}

.members {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.member {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    text-align: center;
    
}

.center{
    width: 100%;
    padding-bottom: 15px;
}

.dot {
    margin: 25px;
    margin-left: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    border:10px solid black;
}

/* BUTTTONS */

.button {

}



@media (max-width:1100px) {

    
}

@media (max-width:500px) {

    h1{
        font-size: 12vw;
    }
    h2{
        font-size: 8vw;
    }
    p{
        font-size: 5vw;
    }
    .social-button{
        
    }
    .banner{
        height: 50px;
    }


}

/* PHONE */
@media (max-width:700px){

    h1{
        width: calc(100vw - 100px);

    }
    h2{
        width: calc(100vw - 100px);

    }
    p{
        width: calc(100vw - 100px);
        
    }

    .about-right {
        display: none;
    }

    .road-right {
        display: none;
    }

    .traits-right {
        display: none;
    }


    .mint{
        height: 20vw;
        font-size: 10vw;
    }
    .mint-num{
        height: 20vw;
        width: 20vw;
    }
    .pointer{
        background-size: 3vw;
    }

    .connect{
        height: 20vw;
        font-size: 10vw;
    }

    .member {
        font-size: 5vw;
    }

}